nav {
    background-color: #bfcff7;
    box-shadow: 1px 1px 10px #73738d;
    margin-bottom: 50px;
}

span {
    margin: 0px;
    padding: 0px;
    font-size: 23px;
}

#container-logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    gap: 5px;
}

.nav-link, button{
    color: #4a5960;
}

button {
    font-size: 14px;
}

@media (max-width: 992px)
{  
    span {
        font-size: 14px;
    }
}