<div class="container">

    <!-- REGISTERED STUDENTS -->
    <div class="row">
        <div class="col md-6">
            <div class="card" style="background-color: #bafdc2;">
                <div class="card-body text-center">
                    <h3 class="card-title">{{arrayStudents.length}}</h3>
                    <p class="card-text">REGISTERED STUDENTS</p>
                </div>
            </div>
        </div>

        <!-- REGISTERED TEACHERS -->
        <div class="col md-6">
            <div class="card" style="background-color: #c7f9fc;">
                <div class="card-body text-center">
                    <h3 class="card-title">{{arrayTeachers.length}}</h3>
                    <p class="card-text">REGISTERED TEACHERS</p>
                </div>
            </div>
        </div>
    </div>

    <!-- REGISTERED PEDAGOGICAL MONITORING -->
    <div class="row">
        <div class="col">
            <div class="card" style="background-color: #ffd2e5;">
                <div class="card-body text-center">
                    <h3 class="card-title">{{arrayMonitoring.length}}</h3>
                    <p class="card-text">REGISTERED PEDAGOGICALS MONITORINGS</p>
                </div>
            </div>
        </div>
    </div>

     <!-- FINISHED PEDAGOGICAL MONITORING -->
    <div class="row">
        <div class="col">
            <div class="card" style="background-color: #ffd68c;">
                <div class="card-body text-center">
                    <h3 class="card-title">{{percentageFinished}}%</h3>
                    <p class="card-text">OF PEDAGOGICALS MONITORINGS ARE FINISHED</p>
                </div>
            </div>
        </div>
    </div>

    <!-- TABLE WITH MONITORINGS PER DAY -->
    <div class="row">
        <div class="col">
            <table class="table table-dark table-hover text-center">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Monitorings</th>
                    </tr>
                </thead>
                <tbody class="table table-primary">
                    <tr *ngFor="let item of dictionaryMonitoringDates | keyvalue">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

