#container-buttons-search {
    display: flex;
}

.card{
    margin-bottom: 60px;
    width: 18rem;
    box-shadow: 1px 1px 6px #606d80;
}

.card-header {
    background-color: #dce0e6;
    font-weight: bold;
    font-size: 13.5px;
}

.list-group-item {
    font-size: 12px;
}

.col {
    display: flex;
    justify-content: space-between;
}

#colButtonRegister{
    justify-content: center;
}

button, input {
    font-size: 14px;
    box-shadow: 1px 1px 2px #606d80;
}

@media (max-width: 537px){
    .col-sm-6 {
        flex: 0 0 auto;
        width: 80%;
    }
    .col {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 767px){
    .card{
        width: 14rem; 
    }
    button, .card-header, input{
        font-size: 13px;
    }
    #registerUser{
        margin-top: 10px;
        text-align: center;
    }
    #colButtonRegister{
        justify-content: center;
    }
}